body {
    font-family: Roboto;
    color: #000;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url('../img/Bg.svg');
    background-size: cover;
    
}
  
a, h1, h2, h3, p, img, i {
    display: block;
    margin: 0;
    padding: 0;
}
  
.container {
    max-width: 1142px;
    margin: 0 auto;
    
}
@media (max-width:475px) {
    .navbar__menu__link{
        display: none;
    }
    .burger{
        display: block;
    }
}
@media (max-width:1090px) {
    .form__wrapper{
        justify-content: center;
    }
    .form__img{
        top: 0px;
        left: 0px;
        position: absolute;
        width: 320px;
        z-index: 1;
    }
    .form__menu{
        z-index: 5;
    }
}
@media (max-width:700px) {
    .form__wrapper{
        justify-content: center;
    }
    .form__img{
        top: 660px;
        left: 25px;
        position: absolute;
        width: 320px;
        z-index: 1;
    }
    .form__menu{
        z-index: 5;
    }
}
.header{
    padding-top: 25px;  
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    
}
.navbar__logo{
    display: flex;
}
.title{
    
    margin-top: -1px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.3px;
    color:  #566F96;
    margin-left: 20px;
    
}
.line {
    border-left: 2px solid #566F96;
    width: 2px;
    height: 26px;
    
}
.logo{

    background-image: url('../img/header/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    padding-top: 1px;
    margin-right: 25px;
}
.navbar__menu{
    margin-top: 3px;
    display: flex;
}
.navbar__menu__item{

}

.link-icon{
    background-image: url('../img/header/Icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    margin-bottom: 10px;
}

.navbar__menu__link{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #566F96;
    margin-right: 32px;
    text-decoration: none;
    
}
.navbar__menu__link:hover{
    color: #7098d7;
    transition: 0.6s;
}

.form__wrapper{
    display: flex;
}
.form__img{
    max-width: 629px;
}
.form__menu{
    max-width: 515px;
    min-width: 350px;
    height: 580px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 3px beige;
    margin-top: 100px;
    margin-left: 58px;
}
.menu__title{
    font-size: 28px;
    font-weight: 700;
    line-height: 50px;
    color: #353B48;
    align-items: center;
    margin-top: 45px;
    margin-left: 50px;
}
.block__input{
    width: 280px;
    height: 48px;
    border: 1px solid #CED0DB;
    border-radius: 4px;
    margin-left: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;



color: #7F8FA6;
}
.form__block__title{
    margin-top: 32px;
    margin-left: 48px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;



color: #353B48;
}
.form__select{
    width: 280px;
    height: 48px;
    border: 1px solid #CED0DB;
    border-radius: 4px;
    margin-left: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;



color: #353B48;
}
.form__button{
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 9px 24px;
    width: 190px;
    height: 50px;
    margin-top: 40px;
    background: #30C598;
    margin-top: 40px;
    margin-left: 48px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.copyright{
    margin-top: 200px;
}
.copyright__title{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #566F96;
    margin: 0 auto;
}
.copyright__wrapper{
    display: flex;
    justify-content: center;
}